*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
.header{
    width: 1352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 2px solid rgb(231, 227, 227);
    
}
.header h1{
    color:aqua;
    font-size: 150%;
   
   

   
}
.nav{
    display: flex;
    gap: 20px;
    text-align: right;
    
}

ul {
    
    display: flex;
    gap: 10px;
    
}

.nav a{
    text-decoration: none;
    color: grey;
}
.nav a:hover{
    color: black;
    border-bottom: 2px solid rgb(23, 109, 207);
}
.pow{
    text-align: center;
    margin-top: 30px;

    
}

.pow h1{
    
    font-size: 250%;

}
.pow img{
    width: 100%;
}
.pow p{
    padding-top: 10px;
}
.przycisk{
    padding-top: 20px;
    text-align: center;
}
.przycisk .btn{
    padding: 12px 120px;
    background-color: rgb(41, 93, 161);
    color: white;
    border-radius: 50px;
}
.stat h2{
    text-align: center;
    padding-top: 30px;
    font-size: 200%;
}
.kol{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}
.let{
    font-weight:900;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.let1{
    color: lightgrey;
}
.kol1{
    position: relative;
}
.kol2{
    position: relative;
}
.kol3{
    position: relative;
}
.circle1 {
    position: absolute;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    top: 2%;
    z-index: -1;
  }
  .circle2 {
    position: absolute;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3DB3D6;
    z-index: -1;
    top: -0.5rem;
    right:77px;
  }
  .circle3 {
    position: absolute;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    top: 2%;
    z-index: -1;
  }

  .box1{
    margin-top: 150px;
    background-color: grey;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    display: flex;
  }
  .box1 img{
    width: 40%;
    height: 40%;

  }
  .box1 h3{
    flex-wrap:wrap;
    font-size: 200%;
    margin-bottom: 20px;
  }

.box11{
    width: 30%;
}

.box2{
    margin-top: 150px;
    background-color: grey;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    display: flex;
  }
  .box2 img{
    width: 40%;
    height: 40%;

  }
  .box2 h3{
    flex-wrap:wrap;
    font-size: 200%;

  }
.box22{
    width: 50%;
    
}